<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizza</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
<!--importo navbar-->
<div th:replace="~{StylePage/navbar :: navbar}"></div>
<div class="container">
    <h1 class="mt-3">Lista Ingredienti</h1>
    <div class="row">
        <div class="col-8">
            <div class="col-4">
                <!--Aggiunta ingredienti-->
                <form method="post" th:action="@{/ingredienti}" th:object="${formAdd}">
                    <div class="d-flex">
                        <input class="form-control form-control-sm" type="text" th:field="*{ingrediente}" placeholder="Inserisci Ingrediente"
                               aria-label=".form-control-sm example">
                        <button type="submit" class="btn btn-sm btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5z"/>
                            </svg>
                        </button>
                    </div>
                    <!--Eventuale errore-->
                    <div th:if="${#fields.hasErrors('ingrediente')}">
                        <span th:each="err : ${#fields.errors('ingrediente')}" th:text="${err}" class="text-danger small d-block mt-1"></span>
                    </div>
                </form>
            </div>

            <div th:if="${list.isEmpty() and errorMessage == null}" class="alert alert-warning mt-3">
                <span class="text-center">Nessun ingrediente inserito</span>
            </div>

            <div th:unless="${list.isEmpty() and errorMessage == null}">
                <div class="col-4">
                    <ul>
                        <li class="d-flex justify-content-between mt-1" th:each="ingrediente : ${list}">
                            <span th:text="${ingrediente.ingrediente}"></span>

                            <!--Cancellazione-->
                            <form th:action="@{/ingrediente/delete}" method="post">
                                <!--Diamo id-->
                                <input type="hidden" name="id" th:value="${ingrediente.id_ingrediente}" />
                                <button class="btn btn btn-outline-danger btn-sm" type="submit"
                                        onclick="return confirm('Vuoi cancellare l\'ingrediente?')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                    </svg>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>